[Desktop Entry]
Type=Application
Name=OpenController
Comment=Any controller, as an Xbox controller
Exec=open-controller-ui
Icon=io.github.brunovncs.open-controller
Categories=Game;Utility;
Keywords=controller;gamepad;dualsense;xbox;8bitdo;
StartupWMClass=open-controller-ui
